/* Rofi config file */
configuration {
    font: "JetBrains Mono 14";
    show-icons: true;
    display-window: "Window";
    display-drun: "Applications";
    drun-display-format:"{name}";
}

@theme "oxide"

listview {
    columns: 1;
    lines: 8;
}

window {
    width:40%;
}

